/* Estilos globais para o botão */
.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  font-size: var(--font-base);
  font-weight: var(--font-bold);
  transition: var(--transition);
}

.button:hover {
  opacity: 0.9;
}

.button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 480px) {
  .button {
    font-size: var(--font-sm);
    padding: 0.5rem 1rem;
  }
}