.contact {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.contact-title {
  margin-bottom: 1rem;
  font-size: var(--font-2xl);
  color: var(--primary-color);
}

.contact-description {
  margin-bottom: 2rem;
  font-size: var(--font-base);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.form-label {
  text-align: left;
  font-weight: var(--font-bold);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  transition: var(--transition);
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form-button {
  padding: 0.75rem;
  align-self: center;
  width: 100%;
  transition: var(--transition);
}

.contact-info {
  margin-top: 2rem;
  font-size: var(--font-base);
}

.contact-info a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-map {
  margin: 2rem auto;
  max-width: 1200px;
  text-align: center;
}

.contact-map h2 {
  margin-bottom: 1rem;
  font-size: var(--font-base);
  color: var(--primary-color);
}

.contact-map iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

[data-theme="light"] .form-input,
[data-theme="light"] .form-textarea {
  outline: 2px solid var(--color-primary);
}

@media (max-width: 480px) {
  .contact {
    padding: 1rem;
  }

  .contact-title {
    font-size: var(--font-2xl);
  }

  .contact-description {
    font-size: var(--font-base);
  }
    .contact-map iframe {
    height: 300px;
  }

  .contact-map h2 {
    font-size: var(--font-base);
  }
}
