@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@400;600&display=swap');

:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* Fontes principais */
  --font-family-base: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-heading: 'Poppins', sans-serif;
  --font-size-base: clamp(1rem, 2vw, 1.125rem);

  /* Tamanhos de fonte */
  --font-xs: clamp(0.75rem, 1.5vw, 0.875rem);
  --font-sm: clamp(0.875rem, 2vw, 1rem);
  --font-base: clamp(1rem, 2.5vw, 1.125rem);
  --font-lg: clamp(1.125rem, 3vw, 1.25rem);
  --font-xl: clamp(1.25rem, 4vw, 1.5rem);
  --font-2xl: clamp(1.5rem, 5vw, 1.875rem);
  --font-3xl: clamp(1.875rem, 6vw, 2.25rem);

  /* Pesos */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* === Cores primárias (base LinkedIn) === */
  --color-primary: #0a66c2;
  --color-primary-dark: #004182;
  --color-primary-light: #e8f4fd;

  /* === Tema claro (padrão) === */
  --color-bg: #ffffff;
  --color-bg-button: #0a66c2;
  --color-text: #202124;
  --color-text-link: #dc2626;
  --color-text-button: #f3f4f6;
  --color-text-light: #ffffff;
  --color-muted: #6b7280;
  --color-border: #d1d5db;
  --color--focus:#6b7280;
  --color-border-focus:#0a66c2;
  --color-accent: #f3f4f6;
  --color-hover: #0a66c2;
  --color-hover-bg: #edf5fc;

  /* === Feedback === */
  --color-info: #0a66c2; /* Azul claro */
  --color-success: #35c20a;
  --color-error: #dc2626;
  --color-warning: #facc15;

  /* Atributo nativo de sugestão, pode ser mantido */
  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-bg);

  /* Transições para suavizar troca de tema */
  --transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;

  /* Sombra */
  --box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}


[data-theme="dark"] {
  --color-bg: #121212;
  --color-bg-button: #2a2a2a;
  --color-text: #e4e4e7;
  --color-text-link: #35c20a;
  --color-text-button: #f3f4f6;
  --color-muted: #a1a1aa;
  --color-border: #2a2a2a;
  --color--focus:#1f2937;
  --color-border-focus:#e4e4e7;
  --color-accent: #1e1e1e;
  --color-hover: #60a5fa;
  --color-hover-bg: #1f2937;

  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  transition: var(--transition);
}

/* Aplica transição suave para body e html, que recebem as cores base */
html,
body {
  transition: var(--transition);
}
